{
    "prefix": "",
    "color": "",
    "owners": [],
    "shard": 1,
    "lavalink": {
        "hosts": {
            "rest": "",
            "ws": ""
        },
        "password": ""
    },
    "myriad": "",
    "debug": false
}